/* SkillsStyles.module.css */

/* Container for the Skills section */
.container {
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 40px; /* Add spacing below the Skills section to separate from Contact section */
}

.title {
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 20px; /* Space below the title */
}

.skillsList {
  list-style-type: none; /* Remove default list bullets */
  padding: 0; /* Remove default padding */
}

.skill {
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-bottom: 10px; /* Space between each skill */
}
